node_modules/
dist/
build/
target/
.venv/
__pycache__/
.pytest_cache/
*.pyc
*.db
*.db-wal
*.db-shm
*.msbackup
*.eml
.env
.env.*
settings.json
engine/workspace/
apps/desktop/src-tauri/binaries/*.exe
/engine/tools/capa/
/engine/tools/floss/
/engine/tools/exiftool/
/apps/desktop/src-tauri/gen/
/apps/desktop/pnpm-lock.yaml
/apps/desktop/pnpm-workspace.yaml
/output/
/backups/
/tmp/
/V*.txt
